

<!-- Main content -->
<section class="content container-fluid">

  <div class="box">
    <div class="box-header with-border">
      <!-- <a href="" class="btn btn-success btn-sm "><span class="glyphicon glyphicon-plus"></span>新增</a> -->
      <a [routerLink]="[ '/bookdetail', '0']" class="btn btn-success btn-sm "><span
          class="glyphicon glyphicon-plus"></span>新增</a>
      <div class="box-tools">
        <div class="input-group input-group-sm" style="width: 150px;margin-top: 4px;">
          <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" [formControl]="searchInput">

          <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table class="table table-bordered">
        <tr>
          <th style="width: 10px">#</th>
          <th>图书价格</th>
          <th>图书价格</th>
          <th>图书评级</th>
          <th>操作</th>
        </tr>
        <tr *ngFor="let book of books; let i=index">
          <td>{{i+1}}</td>
          <td>{{book.name}}</td>
          <td>{{book.price}}</td>
          <td>
            <app-stars [rating]='book.rating'></app-stars>
          </td>
          <td>
            <a [routerLink]="[ '/bookdetail', book.id ]" class="btn btn-warning btn-xs"><span
                class="glyphicon glyphicon-pencil"></span>修改</a>&nbsp;
            <!-- <a href="#" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span>修改</a>&nbsp; -->
            <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>删除</a>
          </td>
        </tr>
      </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
      <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
</section>